@model Restoran.ModelView.ManagerProfile

@{
    ViewBag.Title = "ManagerProfile";
}

<h2>ManagerProfile</h2>

<div>
    <dt>
        @Html.DisplayNameFor(model => model.menadzer.IDMENADZERA)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.menadzer.IDMENADZERA)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.restoran.NAZIV_RESTORANA)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.restoran.NAZIV_RESTORANA)
    </dd>
</div>
<p>
 
</p>
